In [95]:
import numpy as np
import pandas as pd

In [96]:
movie_df = pd.read_csv('indonesian_movies.csv')
movie_df.sample(5)

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
734,Taring,2010,A monster from sacred jungle attacks a group o...,Horror,NaN,5.2,20,Indonesian,Rizal Mantovani,"['Fahrani', 'Shinta Bachir', 'Hendrik Betta', ...",90 min
860,Mas Suka Masukin Aja,2008,NaN,Comedy,NaN,1.4,9,Indonesian,Rully Manna,"['Olga Syahputra', 'Dorce Gamalama', 'Adul', '...",90 min
610,Kalung Jailangkung,2011,NaN,Horror,NaN,5.8,11,Indonesian,Nayato Fio Nuala,"[""Ghea D'Syawal"", 'Reymond Knuliq', 'Djati Kus...",80 min
364,A Copy of My Mind,2015,A female cheap salon worker and a pirated DVDs...,Drama,NaN,7.2,698,Indonesian,Joko Anwar,"['Tara Basro', 'Chicco Jerikho', 'Maera Panigo...",116 min
971,Tentang Dia,2005,Gadis has a prolonged heartbreak after her boy...,Drama,NaN,7.2,78,Indonesian,Rudy Soedjarwo,"['Adinia Wirasti', 'Sigi Wimala', 'Fauzi Baadi...",105 min

In [97]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1272 non-null   object
 1   year          1272 non-null   int64
 2   description   840 non-null    object
 3   genre         1236 non-null   object
 4   rating        376 non-null    object
 5   users_rating  1272 non-null   float64
 6   votes         1272 non-null   object
 7   languages     1272 non-null   object
 8   directors     1265 non-null   object
 9   actors        1272 non-null   object
 10  runtime       869 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 109.4+ KB

# Data Cleansing
Checking the missing values

In [98]:
movie_df.isna().sum()

title             0
year              0
description     432
genre            36
rating          896
users_rating      0
votes             0
languages         0
directors         7
actors            0
runtime         403
dtype: int64

In [99]:
movie_df.isnull().sum()

title             0
year              0
description     432
genre            36
rating          896
users_rating      0
votes             0
languages         0
directors         7
actors            0
runtime         403
dtype: int64

In [100]:
movie_df.loc[movie_com_df['genre'].isnull()]

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
761,Jagad X Code,2009,NaN,NaN,NaN,5.9,37,Indonesian,Herwin Novianto,"['Ringgo Agus Rahman', 'Mario Irwiensyah', 'Op...",NaN
824,Barbi3,2008,NaN,NaN,NaN,3.4,17,Indonesian,Monty Tiwa,"['Titi Kamal', 'Poppy Sovia', 'Francine Roosen...",NaN
826,Best Friend?,2008,Tania is the golden child of the teachers beca...,NaN,NaN,6.9,15,Indonesian,Fajar Bustomi,"['Nikita Willy', 'Risty Tagor', 'Oka Antara', ...",NaN
856,Liar,2008,NaN,NaN,NaN,4.6,11,Indonesian,Rudy Soedjarwo,"['Raffi Ahmad', 'Irgi Fahrezi', 'Intan Nuraini...",NaN
899,Bukan Bintang Biasa,2007,"Bella (Laudya Cynthia Bella), Raffi (Raffi Ahm...",NaN,NaN,4.3,46,Indonesian,Lasja Fauzia,"['Raffi Ahmad', 'Ayushita', 'Dimas Beck', 'Lau...",NaN
938,Ekspedisi Madewa,2006,"Tiro, a geologist is suddenly caught up in a q...",NaN,NaN,5.8,25,Indonesian,Franklin Darmadi,"['Tora Sudiro', 'Irshadi Bagas', 'Indra Birowo...",NaN
955,Ruang,2006,The film opens with the arrival of an old man ...,NaN,17+,7.1,27,Indonesian,Teddy Soeriaatmadja,"['Reggy Lawalata', 'Luna Maya', 'Slamet Rahard...",NaN
962,Brownies,2005,Mel has a successful life. It all changes when...,NaN,NaN,6.0,38,Indonesian,Hanung Bramantyo,"['Marcella Zalianty', 'Bucek Depp', 'Philip Ju...",NaN
964,Detik Terakhir,2005,"Regi suffers from depression since childhood, ...",NaN,NaN,7.2,15,Indonesian,Nanang Istiabudi,"['Shanty', 'Cornelia Agatha', 'Tri Budiman', '...",NaN
968,Me vs. High Heels,2005,NaN,NaN,NaN,5.4,16,Indonesian,Nayato Fio Nuala,"['Raffi Ahmad', 'Dwi Andhika', 'Anggur Aulia',...",118 min
1008,Jakarta Project,2001,NaN,NaN,NaN,4.9,15,Indonesian,Indra Yudhistira,"['Claudia Hidayat', ""Ba'i Soemarlono"", 'Syarmi...",93 min
1014,Viva Indonesia,2001,Compendium of five short neo-realist tales set...,NaN,NaN,7.2,8,Indonesian,Ravi L. Bharwani,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",90 min
1040,Saya Duluan Dong,1994,NaN,NaN,NaN,5.9,18,Indonesian,Arizal,"['Rara Azis', 'H.I.M. Damsyik', 'Ingrid M.P. K...",83 min
1047,Mumpung Ada Kesempatan,1993,NaN,NaN,NaN,5.0,5,Indonesian,Arizal,"['M. Amin', 'Ayu Azhari', 'Susy Bolle', 'John ...",85 min
1070,Saur Sepuh 4: Titisan Darah Biru,1991,NaN,NaN,NaN,7.7,6,Indonesian,Imam Tantowi,"['Denny Porlen', 'Devi Permatasari', 'Baron Ah...",82 min
1075,Antri Dong,1990,NaN,NaN,NaN,3.8,6,Indonesian,Arizal,"['Nurul Arifin', 'Eva Arnaz', 'Diding Boneng',...",86 min
1084,Saur Sepuh 3: Kembang Gunung Lawu,1990,NaN,NaN,NaN,8.2,6,Indonesian,Imam Tantowi,"['Murti Sari Dewi', 'Elly Ermawati', 'Yoshep H...",95 min
1091,Lupus III,1989,NaN,NaN,NaN,6.7,7,Indonesian,Edi Siswanto,"['Gusur Adhikarya', 'Boim', 'Gito Gilas', 'Hil...",NaN
1099,Arini II,1988,Nick and Arini finally marry despite their big...,NaN,NaN,7.1,7,Indonesian,Wim Umboh,"['Joice Erna', 'Rano Karno', 'Ida Iasha', 'Rim...",NaN
1121,Lupus,1987,"Lupus as known title ""Tangkaplah Daku Kau Kuji...",NaN,NaN,8.2,11,Indonesian,Achiel Nasrun,"['Nurul Arifin', 'Septian Dwi Cahyo', 'Gito Gi...",NaN
1131,Biarkan Bulan Itu,1986,NaN,NaN,NaN,5.8,5,Indonesian,Arifin C. Noer,"['Aminah Cendrakasih', 'H.I.M. Damsyik', 'Ikan...",NaN
1136,Keluarga Markum,1986,NaN,NaN,NaN,8.0,5,Indonesian,Chaerul Umam,"['Ully Artha', 'Nanang Durachman', 'Firza', 'I...",93 min
1138,Opera Jakarta,1986,NaN,NaN,NaN,7.0,6,Indonesian,Sjuman Djaya,"['Minati Atmanegara', 'Pitradjaya Burnama', 'J...",181 min
1146,Darah perjaka,1985,NaN,NaN,NaN,5.2,5,Indonesian,Ackyl Anwari,"['Machfud Abud', 'Advent Bangun', 'H.I.M. Dams...",109 min
1152,Kesempatan Dalam Kesempitan,1985,NaN,NaN,NaN,6.8,31,Indonesian,Arizal,"['Mathias Agus', 'Lina Budiarty', 'Tony Damani...",92 min
1155,Putri Duyung,1985,NaN,NaN,NaN,6.3,6,Indonesian,Atok Suharto,"['Eva Arnaz', 'Barry Prima', 'Advent Bangun', ...",NaN
1158,Si Buta dari Gua Hantu,1985,NaN,NaN,NaN,5.8,12,Indonesian,Ratno Timoer,"['Ayu Azhari', 'Advent Bangun', 'Pitradjaya Bu...",NaN
1177,Ken Arok - Ken Dedes,1983,legend stories popular in Javanese land. Ken A...,NaN,NaN,7.9,13,Indonesian,Djun Saptohadi,"['Bram Adrianto', 'Baron Ahmadi', 'Ali Albar',...",NaN
1181,Midah Perawan Buronan,1983,NaN,NaN,NaN,5.3,6,Indonesian,Fritz G. Schadt,"['Eva Arnaz', 'Edy S. Jonathan', 'Adang Mansyu...",NaN
1195,Hukum Karma,1982,NaN,NaN,NaN,4.3,12,Indonesian,Jimmy Atmaja,"['Hendra Cipta', 'Marisa Haque', 'Ucok Harahap...",87 min
1203,Tangkuban Perahu,1982,NaN,NaN,NaN,5.5,6,Indonesian,Liliek Sudjio,"['Hendra Abidin', 'Pitradjaya Burnama', 'Maris...",NaN
1210,Manusia Enam Juta Dollar,1981,NaN,NaN,NaN,7.6,59,Indonesian,Ali Shahab,"['Hamid Arief', 'Eva Arnaz', 'Dorman Borisman'...",NaN
1223,Senyummu Adalah Tangisku,1980,NaN,NaN,NaN,8.2,5,Indonesian,Dasri Jacob,"['Zainal Abidin', 'Sofia Amang', 'Ruslan Basri...",NaN
1230,Puspa Indah Taman Hati,1979,NaN,NaN,NaN,7.6,9,Indonesian,Arizal,"['Yessy Gusman', 'Marlia Hardi', 'Pong Harjatm...",NaN
1239,Pembalasan Si Pitung,1977,NaN,NaN,NaN,7.2,6,Indonesian,Nawi Ismail,"['A.N. Alcaff', 'Hamid Arief', 'Muni Cader', '...",95 min
1258,Malin Kundang,1971,NaN,NaN,NaN,7.1,7,Indonesian,D. Djajakusuma,"['Noor Azizah', 'M. Budhrasa', 'Darussalam', '...",NaN

In [101]:
movie_df.dropna(subset=['description', 'genre', 'rating', 'directors', 'runtime'], inplace=True)
#movie_df.dropna(subset=['genre'], inplace=True)

movie_df.shape

(286, 11)

In [102]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 0 to 1222
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         286 non-null    object
 1   year          286 non-null    int64
 2   description   286 non-null    object
 3   genre         286 non-null    object
 4   rating        286 non-null    object
 5   users_rating  286 non-null    float64
 6   votes         286 non-null    object
 7   languages     286 non-null    object
 8   directors     286 non-null    object
 9   actors        286 non-null    object
 10  runtime       286 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 26.8+ KB

In [103]:
# Menghapus koma dan mengubah ke tipe data integer
movie_df['votes'] = movie_df['votes'].str.replace(',', '').astype(int)

## Building Simple Recommender System

This project will using Weighted Average and based on genres. Use a formula from IMDB to calculate *Weighted_Average Rating (WR)*

$$ WR = (\frac{v}{v+m}.R ) + (\frac{m}{v+m}.C) $$
    
$v$: number of votes for the film <br>
$m$: minimum number of votes needed to be included in the chart <br>
$R$: average rating of the film <br>
$C$: average number of votes from the entire movie data <br>

In [104]:
def imdb_weighted_rating(df, var=0.8):
    v = df['votes']
    R = df['users_rating']
    C = df['users_rating'].mean()
    m = df['votes'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C #IMDb formula 
    return df['score']
    
imdb_weighted_rating(movie_df)

#melakukan pengecekan dataframe
movie_df.head()

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime,score
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,6.5,120,Indonesian,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",100 min,6.398088
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,6.4,8,Indonesian,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",80 min,6.365775
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,5.4,17,Indonesian,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",92 min,6.322643
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,9.1,27,Indonesian,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",129 min,6.551040
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,7.6,33,Indonesian,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",109 min,6.466161

In [105]:
df = movie_df.copy()

def user_prefer_recommender(df, ask_genre, top, var=0.8):
    m = df['votes'].quantile(var)
    
    if ask_genre.lower() == 'all':
        df = df
    else:
        def filter_genre(x):
            if ask_genre.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['genre'].apply(lambda x: filter_genre(x))]

    df = df.loc[df['votes'] >= m]
    df = df.sort_values(by='score', ascending=False)
    
    #get the top data
    df = df[:top]
    return df

user_prefer_recommender(df,
                        ask_genre = 'action',
                        top=5)

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime,score
449,The Raid 2,2014,"Only a short time after the first raid, Rama g...",Action,R,8.0,112091,Indonesian,Gareth Evans,"['Iko Uwais', 'Arifin Putra', 'Tio Pakusadewo'...",150 min,7.994621
659,The Raid: Redemption,2011,A S.W.A.T. team becomes trapped in a tenement ...,Action,R,7.6,187222,Indonesian,Gareth Evans,"['Iko Uwais', 'Joe Taslim', 'Donny Alamsyah', ...",101 min,7.597564
226,Wiro Sableng 212,2018,"Indonesia, the 16th century, Wiro Sableng, a d...",Action,13+,7.2,1327,Indonesian,Angga Dwimas Sasongko,"['Vino G. Bastian', 'Yayan Ruhian', 'Fariz Alf...",123 min,7.017951
217,The Night Comes for Us,2018,"Ito, a gangland enforcer, caught amidst a trea...",Action,TV-MA,7.0,19856,Indonesian,Timo Tjahjanto,"['Iko Uwais', 'Joe Taslim', 'Julie Estelle', '...",121 min,6.988384
422,Comic 8,2014,Eight young people from various backgrounds an...,Action,17+,7.0,839,Indonesian,Anggy Umbara,"['Ernest Prakasa', 'Kemal Palevi', 'Arie Kriti...",106 min,6.805677